<!DOCTYPE html>
<html>

<head>
    <title>Contact tracing application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css"/></noscript>
</head>

<body>
    <header id="header">
        <a href="index.html" class="title">Contact Tracing App</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/audio">Audo Classification</a></li>
                <li><a href="/xray" >X-ray Classification</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <section id="main" class="wrapper">
            <div class="inner">
                <h1 class="major">Introduction</h1>
                <section>
                    <p><span class="image left"><img src="https://researchmatters.in/sites/default/files/styles/large_800w_scale/public/covid19.jpg?itok=-JUWUGhq" alt="" width="20px"/></span>In countries like India has a high spreading of COVID-19 due to
                        negligence by the public in following the basic social distancing. Due to this, the number of cases of COVID-19 victims has reached around 2,36,000 in number. It has been difficult for countries like in India to trace every victim
                        who has come in contact with the covid19 patients. So we have come up with a solution, where the software can help the Government and the health workers to easily track people who ever get in contact with the COVID-19 victims.
                        This app will also encourage people to maintain social.
                    </p>
                    <hr>
                    <div>
                        <h3>Basic Ideology</h3>
                        <p><span class="image right"><img src="https://ak.picdn.net/shutterstock/videos/12578684/thumb/1.jpg" alt="" /></span>When two or more people come in contact with each other and maintain a less distance of 6ft between them then the
                            bluetooth module present in the handset of both the person records the unique IDs. And when the COVID-19 is identified in one person the can trace the people who ever got contacted with him.
                        </p>
                    </div>
                    <hr>
                    <div>
                        <h3>Services</h3>
                        <ul>
                            <li>Easily track people who came in contact.</li>
                            <li>Dashboard which give current statistics.</li>
                            <li>Easily find the risk using the ML models built.</li>
                        </ul>
                    </div>
                </section>
                <div class="actions">
                    <a href="https://drive.google.com/u/0/uc?id=1RxmLLBQ8a9f-P57UngTd5-fzkJubYiAL&export=download" class="button primary">Get the App</a></li>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
